@{
    ViewData["Title"] = "Book an Appointment";
}
<h1>BOOK APPOINTMENT</h1>

<div class="row">

    @{
        foreach (var item in Model)
        {
            <div class="col-4 d-flex mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/@item.Img" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <h3 class="col-10">@item.Name</h3>
                        </div>
                        <p>Specialization: <span class="badge text-bg-warning">@item.Specialization</span></p>
                        <a href="BookAppointment/details/@item.Id" class="btn btn-primary">Book Appointment</a>
                    </div>
                </div>
            </div>
        }
    }
</div>